.overlayScrollBar {
	overflow: inherit !important;
	overflow-y: overlay !important;
}

.overlayScrollBar::-webkit-scrollbar {
	width: .5rem;
}
.overlayScrollBar::-webkit-scrollbar-thumb {
	border: 5px solid #66666625;
	border-radius: 10rem;
}
.overlayScrollBar::-webkit-scrollbar-track {
	position: absolute;
	right: -3rem;
	top: -50rem;
	background: transparent;
}

table.dataTable span.highlight {
	position: relative;
	background-color: transparent !important;
	border-radius: 0.28571429rem;
	z-index: 1;
}
table.dataTable span.highlight::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .25;
	background-color: var(--primary) !important;
	border-radius: .2rem;
	z-index: -1;
}

table.dataTable span.column_highlight {
	background-color: transparent !important;
	border-radius: .2rem;
}

.icon-btn {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	background: white;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
	font-weight: 500;
	font-family: inherit;
}

.add-btn:hover {
	width: 120px;
}

.add-btn::before,
.add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: seagreen;
}

.add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.icon-btn:focus {
	outline: none;
}

.btn-txt {
	opacity: 0;
	transition: opacity 0.2s;
}

.add-btn:hover::before,
.add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
}

.add-btn:hover .btn-txt {
	opacity: 1;
}

.add-icon::after,
.add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: seagreen;
	overflow: hidden;
}

.add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
	right: 15px;

	height: 4px;
	top: calc(50% - 2px);
}

.dataTables_scrollHead {
	width: 100% !important;
}
.dataTables_scrollHeadInner {
	width: 100% !important;
	padding-right: 0 !important;
}

.table-small tbody td{
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
}