.overlayScrollBar {
	overflow: inherit !important;
	overflow-y: overlay !important;
}

.overlayScrollBar::-webkit-scrollbar {
	width: .5rem;
}
.overlayScrollBar::-webkit-scrollbar-thumb {
	border: 5px solid #66666625;
	border-radius: 10rem;
}
.overlayScrollBar::-webkit-scrollbar-track {
	position: absolute;
	right: -3rem;
	top: -50rem;
	background: transparent;
}

table.dataTable span.highlight {
	position: relative;
	background-color: transparent !important;
	border-radius: 0.28571429rem;
	z-index: 1;
}
table.dataTable span.highlight::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .25;
	background-color: var(--primary) !important;
	border-radius: .2rem;
	z-index: -1;
}

table.dataTable span.column_highlight {
	background-color: transparent !important;
	border-radius: .2rem;
}
